body{
    
  font-family: 'Imperial Script', cursive;
}

:root {
    --primary-color: rgba(0, 0, 0, 0);
    --overlay-color: rgb(253, 248, 231);
    --secondary-color:  rgb(219, 201, 189);
    --menu-speed: 0.3s;
}

*::-webkit-scrollbar {
    width: 3px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.7);
    border-radius: 20px;
    border: transparent;
  }









@import './home';
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');